*{
  margin:0;
}
.navigation ul{
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: red;
  padding:0;
}
.navigation ul li{
  background-color: yellow;
  padding:0;
  margin:0;
  width:90px;
}
.authentication__outer{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: aliceblue;
  width:600px;
  height:600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authentication{
  width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
}
.wall{
  width:600px;
  margin:auto;
}
.post-form{
  display:grid;
  grid-gap:2px;
}
.post-form figure{
  border:1px solid black;
  height:600px;
}